<ion-content fullscreen="true">

  <ion-toolbar mode="ios" color="tertiary">
    <ion-icon name="chevron-back-outline" class="return-icon" (click)="redirectTo('/edit-users')"></ion-icon>
    <ion-title>Editing {{userFullName}}</ion-title>
  </ion-toolbar>
  <form class="container" (ngSubmit)="handleSubmit()" >    
    <ion-item *ngIf="!userEditing.owner">
      <ion-label>Department</ion-label>
      <ion-select placeholder="department.name" [(ngModel)]="userEditing.department_id" name="department"  >
        <ion-select-option *ngFor="let department of departments" [value]="department.department_id">{{department.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="userEditing.owner" [disabled]="userEditing.owner">
      <ion-label> Can't edit owner's department.</ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <ion-input type="text" name="name" [(ngModel)]="userEditing.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Last name</ion-label>
      <ion-input type="text" name="surname" [(ngModel)]="userEditing.surname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Position</ion-label>
      <ion-input type="text" name="position" [(ngModel)]="userEditing.position"></ion-input>
    </ion-item>
    <!--  
    <ion-item>
      <ion-label position="stacked">E-mail</ion-label>
    
      <ion-input type="email" name="email" [(ngModel)]="userEditing.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input type="password" name="password"></ion-input>
    </ion-item>
   
    <ion-label>Working Days:</ion-label>
    <div style="display: flex; justify-content: space-between; flex-wrap: wrap;">
      <div class="checkbox-container">
        <ion-label class="first-row" size="1">Mon</ion-label>
        <ion-checkbox class="second-row" label="Monday" mode="ios" size="1"></ion-checkbox>
      </div>
      <div class="checkbox-container">
        <ion-label class="first-row" size="1">Tue</ion-label>
        <ion-checkbox class="second-row" label="Tuesday" mode="ios" size="1"></ion-checkbox>
      </div>
      <div class="checkbox-container">
        <ion-label class="first-row" size="1">Wed</ion-label>
        <ion-checkbox class="second-row" label="Wednesday" mode="ios" size="1"></ion-checkbox>
      </div>
      <div class="checkbox-container">
        <ion-label class="first-row" size="1">Thur</ion-label>
        <ion-checkbox class="second-row" label="Thursday" mode="ios" size="1"></ion-checkbox>
      </div>
      <div class="checkbox-container">
        <ion-label class="first-row" size="1">Fri</ion-label>
        <ion-checkbox class="second-row" label="Friday" mode="ios" size="1"></ion-checkbox>
      </div>
      <div class="checkbox-container">
        <ion-label class="first-row" size="1">Sat</ion-label>
        <ion-checkbox class="second-row" label="Saturday" mode="ios" size="1"></ion-checkbox>
      </div>
      <div class="checkbox-container">
        <ion-label class="first-row" size="1">Sun</ion-label>
        <ion-checkbox class="second-row" label="Sunday" mode="ios" size="1"></ion-checkbox>
      </div>
    </div>
    <ion-label>Start Time:</ion-label>
    <ion-datetime presentation="time" class="time-display"></ion-datetime>
    <ion-label>End Time:</ion-label>
    <ion-datetime presentation="time" class="time-display"></ion-datetime>
      -->
    <ion-item>
      <ion-label>Admin</ion-label>
      <ion-checkbox color="tertiary" [disabled]="userEditing.owner" name="admin" [(ngModel)]="userEditing.admin" [checked]="userEditing.admin"></ion-checkbox>
    </ion-item>
    <span class="buttons">
      <ion-button expand="block" color="tertiary" type="submit">Edit</ion-button>
      <span class="text non-primary-button" (click)="redirectTo('/edit-users')">Cancel</span>
    </span>
  </form>
</ion-content>