<ion-content>
  <form class="container" (ngSubmit)="confirmAlter()">
    <ion-item>
      <ion-label>Department</ion-label>
      <ion-select placeholder="Select One" [(ngModel)]="department" name="department">
        <ion-select-option *ngFor="let department of departments" [value]="department">{{department.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <ion-input type="text" name="name" [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Last name</ion-label>
      <ion-input type="text" name="lastname" [(ngModel)]="lastname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Position</ion-label>
      <ion-input type="text" name="position" [(ngModel)]="position"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">E-mail</ion-label>
      <ion-input type="email" name="email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input type="password" name="password"></ion-input>
    </ion-item>
    <ion-label>Working Days:</ion-label>
    <ion-grid>
      <ion-row>
        <ion-label class="first-row">Mon</ion-label>
        <ion-label class="first-row">Tue</ion-label>
        <ion-label class="first-row">Wed</ion-label>
        <ion-label class="first-row">Thu</ion-label>
        <ion-label class="first-row">Fri</ion-label>
        <ion-label class="first-row">Sat</ion-label>
        <ion-label class="first-row">Sun</ion-label>
      </ion-row>
      <ion-row>
        <ion-checkbox class="second-row" label="Monday" mode="ios"></ion-checkbox>
        <ion-checkbox class="second-row" label="Tuesday" mode="ios"></ion-checkbox>
        <ion-checkbox class="second-row" label="Wednesday" mode="ios"></ion-checkbox>
        <ion-checkbox class="second-row" label="Thursday" mode="ios"></ion-checkbox>
        <ion-checkbox class="second-row" label="Friday" mode="ios"></ion-checkbox>
        <ion-checkbox class="second-row" label="Saturday" mode="ios"></ion-checkbox>
        <ion-checkbox class="second-row" label="Sunday" mode="ios"></ion-checkbox>
      </ion-row>
      <ion-label>Start Time:</ion-label>
      <ion-label>End Time:</ion-label>
    </ion-grid>
    <ion-item>

      <ion-label>Admin</ion-label>
      <ion-checkbox color="tertiary" name="admin" [(ngModel)]="admin" [checked]="profile.admin"></ion-checkbox>
    </ion-item>
    <ion-button expand="block" color="tertiary" type="submit">Alter</ion-button>
    <span class="text non-primary-button" (click)="redirectTo('/edit-users')">Cancel</span>
  </form>
</ion-content>