<ion-header>
  <ion-toolbar>
    <div class="header">
      <ion-icon name="chevron-back-outline" class="previous" (click)="goBack()"></ion-icon>
      <ion-avatar id="main-avatar" slot="start" >
        <img src="../../../assets/images/gw50h17a.bmp">
      </ion-avatar>
     
      <div class="contact-info">
        <h1>{{department.name}}</h1>
      </div>      
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" position="top" *ngIf="!fullyLoaded">
    <ion-infinite-scroll-content loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-list>
    <ion-grid>
      <ion-row *ngFor="let message of messages; let i = index;" class="messagebox-container"
        [ngClass]="{'user-message': message.sender === user.id}">
        <div class="separator" *ngIf="i > 0 && message.time.getDate() != messages[i-1].time.getDate()">
          {{message.time.toLocaleDateString()}}
        </div>
        <div class="message-box" [ngClass]="{'outsider': message.department_id !== department.department_id}">
          <div class="meta-info sender-name" *ngIf="message.sender !== user.id">
            <p>{{message.sender_name}} {{getDepartmentName(message)}}</p>
          </div>
          <p>{{message.body}}</p>
          <div class="meta-info">
            <p>{{formatTime(message.time)}}</p>
          </div>
        </div>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
<div class="loading-icon" *ngIf="!loaded">
  <ion-spinner name="bubbles"></ion-spinner>
</div>
<div *ngIf="messages.length === 0 && loaded" class="empty-message">
  <p>Be the first to send a message. Say hi!</p>
</div>
<ion-item class="text-container">
  <form class="text-form" (ngSubmit)="onSubmit()">
    <ion-input [(ngModel)]="text" name="text" id="text" type="text" class="text-field" 
      placeholder="Type to send a text message..."></ion-input>
    <ion-button type="submit" fill="clear" class="submit-btn">
      <ion-icon name="send-sharp"></ion-icon>
    </ion-button>

  </form>
</ion-item>
 

<!-- [ngClass]="{ reminder: task.reminder }"-->