<ion-content>
 
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <center>
  <ion-spinner color="primary" *ngIf="!loaded"></ion-spinner>
  </center>
  <div *ngIf="loaded">
  <div *ngIf="user.admin" style="display: flex; justify-content: center;" class="button-div">
    <ion-button color="tertiary" shape="round" class="announcement-button" (click)="openModal()">New Announcement
    </ion-button>
  </div>
  <ion-list lines="full">
    <ion-accordion-group value="numbers" *ngFor="let announcement of announcements.reverse()">
      <ion-accordion value="colors" class="annoucement-item">
        <ion-item slot="header" [attr.disabled]="announcement.read ? true : null" class="announcement-title">
          <div>
            <ion-label>{{announcement.title}}</ion-label>
            <ion-label class="date">{{formatDate(announcement.date)}}</ion-label>
          </div>
        </ion-item>
        <ion-item-sliding slot="content" class="content">
          <ion-item slot="content" class="content">
            <ion-label>
              <ion-label class="date" style="margin-bottom: 5px;">{{announcement.sender.name}} {{announcement.sender.surname}} - {{announcement.sender.position}}</ion-label>
              <p class="ion-text-wrap announcement-body">{{announcement.body}}</p>
            </ion-label>
          </ion-item>
          <ion-item-options *ngIf="user.admin" side="end">
            <ion-item-option (click)="canDelete(announcement)" color="danger">Delete</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-accordion>
    </ion-accordion-group>
    <p *ngIf="announcements.length === 0" class="empty">There is no announcements yet.</p>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" *ngIf="!fullyLoaded">
    <ion-infinite-scroll-content loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</div>
</ion-content>