<ion-content>
  <div *ngIf="user.admin" style="display: flex; justify-content: center;" class="button-div">
    <ion-button color="tertiary" shape="round" class="announcement-button" (click)="openModal()">New Announcement
    </ion-button>
  </div>
  <ion-list lines="full">
    <ion-accordion-group value="numbers" *ngFor="let announcement of announcements">
      <ion-accordion value="colors" class="annoucement-item" (click)="confirmRead(announcement)">
        <ion-item slot="header" [attr.disabled]="announcement.read ? true : null" class="announcement-title">
          <div>
            <ion-label>{{announcement.title}}</ion-label>
            <ion-label class="date">{{formatDate(announcement.date)}}</ion-label>
          </div>
        </ion-item>
        <ion-item slot="content" class="content">
          <p>{{announcement.text}}</p>
        </ion-item>
      </ion-accordion>
    </ion-accordion-group>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" [disabled]="numTimesLeft <= 0">
    <ion-infinite-scroll-content loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>