<ion-content class="page" fullscreen="true">
  <ion-icon name="chevron-down-outline" class="return-icon" (click)="dismiss()"></ion-icon>
  <form class="container" (ngSubmit)="handleSubmit()">
    <h1 class="title">Create New User</h1>
    <ion-item>
      <ion-label position="stacked">Name of the Employee</ion-label>
      <ion-input type="text" [(ngModel)]="name" name="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Surname</ion-label>
      <ion-input type="text" [(ngModel)]="surname" name="surname"></ion-input>
    </ion-item>   
    <ion-item>
      <ion-label>Department</ion-label>
      <ion-select placeholder="Select One" [(ngModel)]="selectedDepartment" name="selectedDepartment">
        <ion-select-option *ngFor="let departmentItem of departments" [value]="departmentItem">{{departmentItem.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Position</ion-label>
      <ion-input type="text" [(ngModel)]="position" name="position"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Admin</ion-label>
      <ion-checkbox color="tertiary" name="admin" [(ngModel)]="admin" [checked]="admin"></ion-checkbox>
    </ion-item>
    <ion-button expand="block" color="tertiary" type="submit">Generate Code</ion-button>
    <span class="text non-primary-button" (click)="dismiss()">Cancel</span>
  </form>
</ion-content>