.chat-icon{
    z-index: 10;
    color: #5D5FEF;
    font-size: 2rem;
    cursor: pointer;
}

.border-none{
    --border-color: transparent;
}

.username{
    color: #414141;
    font-size: 1.2rem;
}

.position{
    color: #414141;
}

.department-item{
    font-size: 1.5rem;
    padding: 10px 0;
    color: #414141 !important;
    border-bottom: 1px solid rgba(150, 150, 150, .25);
}

.department-name{
    font-size: 1.2rem;
    color: #414141;
}

.group-btn{
    width: 100%;
    --padding-top: 17px;
    --padding-bottom: 17px;
    margin-bottom: 20px;
}