<ion-content>

  <ion-list lines="full">
    <ion-accordion-group value="numbers" *ngFor="let department of departments">
      <ion-accordion value="colors" class="department-item">
        <ion-item slot="header">
          <ion-label>
            <h2 class="department-name">{{department.name}}</h2>
          </ion-label>
        </ion-item>
        <ion-list slot="content">
          <ion-item>
            <ion-button (click)="redirectTo('/chat-group/' + department.id)" color="tertiary" class="group-btn">{{department.name}} Group</ion-button>
          </ion-item>
          <ion-item *ngFor="let contact of getUsers(department)" class="border-none">
            <ion-avatar slot="start" (click)="redirectTo('/profile/' + contact.id)">
              <img src="../../../assets/images/gw50h17a.bmp">
            </ion-avatar>
            <ion-label class="username" (click)="redirectTo('/profile/' + contact.id)">
              <p class="username">{{contact.getFullName()}}</p>
              <p class="position">{{contact.position}}</p>
            </ion-label>
            <ion-buttons class="chat-icon" *ngIf="user !== contact" (click)="redirectToChat(contact)">
              <ion-icon name="chatbubble-ellipses-sharp"></ion-icon>
            </ion-buttons>
          </ion-item>
        </ion-list>
      </ion-accordion>
    </ion-accordion-group>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" [disabled]="fullyLoaded">
    <ion-infinite-scroll-content loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>