<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list lines="full">
    <ion-accordion-group value="numbers" *ngFor="let department of departments">
      <ion-accordion value="colors" class="department-item">
        <ion-item slot="header">
          <ion-label>
            <h2 class="department-name">{{department.name}}</h2>
          </ion-label>
        </ion-item>
        <ion-list slot="content">
          <div *ngIf="department.users">
          <ion-item *ngIf="department.name != 'Owner'">
            <ion-button (click)="redirectTo('/chat-group/' + department.department_id)" color="tertiary" class="group-btn">
              {{department.name}} Group</ion-button>
          </ion-item>
          
            <ion-item *ngFor="let contact of department.users" class="border-none">
              <ion-avatar slot="start" (click)="redirectTo('/profile/' + contact.id)">
                <img src="../../../assets/images/gw50h17a.bmp">
              </ion-avatar>
              <ion-label class="username" (click)="redirectTo('/profile/' + contact.id)">
                <p class="username">{{contact.getFullName()}}</p>
                <p class="position">{{contact.position}}</p>
              </ion-label>
              <ion-buttons class="chat-icon" *ngIf="user.id != contact.id" (click)="redirectToChat(contact)">
                <ion-icon name="chatbubble-ellipses-sharp"></ion-icon>
              </ion-buttons>
            </ion-item>
          </div>
          <center><ion-spinner *ngIf="!department" color="primary" ></ion-spinner></center>          
            <ion-item *ngIf="!department.users" class="border-none">
              <ion-label *ngIf="noUsersDepartments.includes(department.department_id)">
                <h2 class="empty" >No users in this department</h2>
              </ion-label>
            </ion-item>          
        </ion-list>
      </ion-accordion>
    </ion-accordion-group>
  </ion-list>


<!--

  <ion-item *ngFor="let contact of getUsers(department)" class="border-none">
            <ion-avatar slot="start" (click)="redirectTo('/profile/' + contact.id)">
              <img src="../../../assets/images/gw50h17a.bmp">
            </ion-avatar>
            <ion-label class="username" (click)="redirectTo('/profile/' + contact.id)">
              <p class="username">{{contact.getFullName()}}</p>
              <p class="position">{{contact.position}}</p>
            </ion-label>
            <ion-buttons class="chat-icon" *ngIf="user !== contact" (click)="redirectToChat(contact)">
              <ion-icon name="chatbubble-ellipses-sharp"></ion-icon>
            </ion-buttons>
    </ion-item>
-->