<ion-content class="login-page" fullscreen="true">
  <form class="login-container" (ngSubmit)="handleSubmit()">
    <ion-item>
      <span class="login-icon">
        <ion-icon name="newspaper"></ion-icon>
      </span>
      <ion-label position="stacked">Announcement Title</ion-label>
      <ion-input  [(ngModel)]="title" name="title" type="text" placeholder="Please enter a title." required autocapitalize="sentences" autocorrect="on"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Announcement Content</ion-label>
      <ion-textarea [(ngModel)]="content" rows="5" name="content" type="text" placeholder="Please enter the announcement content" required></ion-textarea>
    </ion-item>
    <ion-button expand="block" color="tertiary" type="submit">Send</ion-button>
    <span class="login-text non-primary-button" (click)="goToRecovery()">Cancel</span>
  </form>
</ion-content>