<ion-content class="login-page" fullscreen="true">
  <div class="login-container">
    <span class="login-icon">
      <ion-icon name="chatbox-ellipses"></ion-icon>
    </span>
    <h1>Welcome to Busin</h1>
    <ion-button color="tertiary" shape="round">Join a new company</ion-button>
    <ion-button color="tertiary" shape="round">Create a new company</ion-button>
    <ion-buttons>
      <button class="login-text" ion-button (click)="redirectTo()">Log in</button>
    </ion-buttons>
  </div>
</ion-content>