<ion-content class="login-page" fullscreen="true">
  <ion-icon name="chevron-back-outline" class="return-icon" (click)="redirectTo('/login')"></ion-icon>
  <form class="login-container" (ngSubmit)="handleSubmit()">
    <ion-item>
      <span class="login-icon">
        <ion-icon name="person-circle-outline"></ion-icon>
      </span>
      <ion-label position="stacked">E-mail</ion-label>
      <ion-input [(ngModel)]="email" name="password" type="email" placeholder="example@email.com" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input [(ngModel)]="password" name="password" type="password" placeholder="*******" required></ion-input>
    </ion-item>
    <ion-button expand="block" color="tertiary" type="submit">Login</ion-button>
    <span class="login-text non-primary-button" (click)="redirectTo('/recovery')">Forgot my password</span>
  </form>
</ion-content>