<ion-header>
  <ion-toolbar mode="ios" color="tertiary">
    <ion-icon name="chevron-back-outline" class="return-icon" (click)="redirectTo('/tabs/contacts')"></ion-icon>
    <ion-title>Users</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list lines="full">
    <ion-item *ngFor="let user of users">
      <ion-label>{{user.name}} {{user.surname}}</ion-label>
      <div class="icons">
        <ion-icon name="pencil-outline"
          style="color: darkorange; margin-right: 20px;" (click)="redirectTo('/edit-user/' + user.user_id)"></ion-icon>
        <ion-icon (click)="confirmDelete(user)" name="trash-outline" style="color: brown;"></ion-icon>
      </div>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary" (click)="presentAdd()">
      <ion-icon class="add-icon" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>